:root {
    --white-color: #fff;
    --pink-color: #ffc0cb;
    --black-color: #000;
    --text-color: #333;
    --header-height: 124px;
    --width-btn: 340px;
    --red-color: red;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Courgette', cursive;
    font-weight: 100;
    overflow: hidden;
}

canvas {
    float: left;
    margin-right: 20px;
}

#whole_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    -webkit-transition: top 1s ease-in-out;
    -moz-transition: top 1s ease-in-out;
    -ms-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
}

#screen_one,
#screen_two,
#screen_three {
    width: 100%;
    height: 100%;
    position: relative;
    /* background-image: url("https://img.freepik.com/free-vector/minimal-love-hearts-background-with-text-space_1017-23417.jpg?size=626&ext=jpg&ga=GA1.2.1908636980.1643846400"); */
}

#screen_one {
    background-color: #bbb;
    background-image: url(intro.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#screen_two {
    background: #333;
}

#screen_three {
    background: #fff;
}

#canvas_container {
    width: 940px;
    height: 380px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(levels_bg.png);
    background-repeat: no-repeat;
}

#valentines_text,
#rewind_text,
#replay_text {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #666;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0px;
    -webkit-transition: letter-spacing 5s ease-out;
    -moz-transition: letter-spacing 5s ease-out;
    -ms-transition: letter-spacing 5s ease-out;
    transition: letter-spacing 5s ease-out;
}

#rewind_text,
#replay_text {
    color: #ccc;
    letter-spacing: 2px;
    /*text-align: left;*/
}

#end_container {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 25px;
    text-align: center;
}

#support {
    font-size: 30px;
    color: #fff;
    background: #ff7f29;
    padding: 10px;
    width: 320px;
    border-radius: 10px;
    margin: 10px auto;
    cursor: pointer;
    position: relative;
    top: 0px;
    text-decoration: none;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

#support:hover {
    background: #ffce87;
    top: -3px;
}

input#your_message {
    display: block;
    width: 100%;
    font-size: 30px;
    padding: 5px;
    border: 2px solid #ddd;
    margin: 5px 0 40px 0;
    color: #666;
    padding-top: 8px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    text-align: center;
}

input#your_link {
    display: block;
    width: 100%;
    font-size: 15px;
    padding: 5px;
    background: #ddd;
    border: none;
    margin: 5px 0 40px 0;
    color: #666;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    text-align: center;
}

#share {
    width: 330px;
    margin: 5px auto;
    height: 50px;
    margin-bottom: 30px;
}

#share>div {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    opacity: 0.25;
    position: relative;
    top: 0;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

#share>div:hover {
    opacity: 0.7;
    top: -3px;
}

#share_facebook {
    background: url(../icons/facebook.png);
}

#share_twitter {
    background: url(../icons/twitter.png);
}

#share_plus {
    background: url(../icons/plus.png);
}

#share_tumblr {
    background: url(../icons/tumblr.png);
}

#share_reddit {
    background: url(../icons/reddit.png);
}

#share_stumbleupon {
    background: url(../icons/stumbleupon.png);
    margin-right: 0px;
}

#bottom {
    font-size: 17px;
    position: absolute;
    bottom: 400px;
    right: 10px;
    color: #999;
}

#bottom a {
    color: #ff1493;
    font-size: 25px;
    margin-right: 180px;
    margin-bottom: 150px;
    cursor: pointer;
}

#bottom a:hover {
    color: #ccc;
}

.btn-blue {
    width: 20%;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 12px;
    cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym49.cur), auto !important;
    /* text-transform: uppercase; */
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    margin-left: 1100px;
    margin-bottom: 20px;
}

.btn-blue:hover {
    opacity: 0.8;
    color: var(--pink-color);
    background-position: right center;
    /* change the direction of the change here */
    text-decoration: none;
}

.btn-cont {
    color: var(--red-color);
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    color: #fff;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    z-index: 1;
}

#loading>div {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

svg {
    animation: bit 1s infinite;
    /* Set the time here */
    -webkit-animation: bit 1s infinite;
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -webkit-animation-delay: 6s;
    /* Chrome, Safari, Opera */
    animation-delay: 6s;
}

#myHeart {
    stroke: red;
    stroke-width: 4px;
    fill-opacity: 0;
}

svg path {
    stroke: rgb(255, 255, 255);
    stroke-dasharray: 1300;
    stroke-dashoffset: 0;
    stroke-width: 3px;
    fill-opacity: 0;
    animation: anim 12s linear forwards;
    /* Set the time here */
    -webkit-animation: anim 12s linear forwards;
}


/* Here their animations */

@keyframes anim {
    0% {
        stroke-dashoffset: 1000;
        fill: rgba(255, 0, 0, 0);
    }
    50% {
        stroke-dashoffset: 0;
        fill: rgba(255, 0, 0, 0);
        fill-opacity: 0;
    }
    100% {
        fill: rgba(255, 0, 0, 1);
        fill-opacity: 1;
    }
}

@-webkit-keyframes anim {
    0% {
        stroke-dashoffset: 1000;
        fill: rgba(255, 0, 0, 0);
    }
    50% {
        stroke-dashoffset: 0;
        fill: rgba(255, 0, 0, 0);
        fill-opacity: 0;
    }
    100% {
        fill: rgba(255, 0, 0, 1);
        fill-opacity: 1;
    }
}

@keyframes bit {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes bit {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}